@(page: String, isLoggedIn: Boolean,profile: Profile,deck:Deck,frames:List[String],cardID:UUID,form: Form[views.formData.CardReviewFormData])
@import views.html.learner. layoutL

@layout(page, isLoggedIn, profile){@layoutL(isLoggedIn)} {

    <script src="@routes.Assets.versioned("js/Learner/learnCard.js")" type="text/javascript"></script>
        <div class ="container">
            <div class = "jumbotron">
            @for(frames<-frames) {
                <h1 class ="frame-output" type="text" id="frames_0" name="frames[0]" value="">@frames</h1>
            }
                @helper.form(routes.LearnController.updateCard(), 'role -> "form",'class -> "response-quality-buttons") {
                    <a href = "@routes.LearnController.learnDecks()"><i class="glyphicon glyphicon"></i>
                        Error</a>
                    <input class ="hidden-fields" type="text" value="@cardID" id="@form("cardID").id" name="@form("cardID").name">
                    <input class ="hidden-fields" type="text" value="@deck.id" id="@form("deckID").id" name="@form("deckID").name">
                    <input type="submit" value="1" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="1" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="2" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="3" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="4" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="5" id="@form("responseQuality").id" name="@form("responseQuality").name">
                    <input type="submit" value="6" id="@form("responseQuality").id" name="@form("responseQuality").name">
                }
            </div>
        </div>



}